/* main things */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Heebo", sans-serif;
    overflow: hidden;
}

/* map styles (not much) */
#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scrollbar-width: none;
}

/* map controls */
.maplibregl-ctrl-top-left {
    float: left;   
    margin: 80px 0 0 5px;
}

.maplibregl-ctrl-group:not(:empty) {
    box-shadow: none;
    border: 1px solid #4421AE;
}

/* slider styles */
#slider-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#current-date-display {
    position: absolute;
    justify-self: calc(100% + 10px);
    bottom: 100px;  
    left: 100px;
    background-color: #4421AE;
    padding: 15px 20px;
    border-radius: 100px;
    margin-bottom: 10px;
    white-space: nowrap;
}

#slider-box {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#slider {
    padding: 10px;
    min-width: 150px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    outline: none;
    background-color: white;
    background: white;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #4421AE;
    align-self: center;
    margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    background: linear-gradient(
        to right,
        #4421AE 0%,
        #4421AE var(--val),
        #CCD5FF var(--val),
        #CCD5FF 100%
    );
    border-radius: 20px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #4421AE;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 90px;
    width: 30px;
    background: url('../images/slider-control.png');
    border: 0;
    position: relative;
    margin-top: calc((20px - 90px) / 2);
}

input[type="range"]::-moz-range-thumb {
    height: 90px;
    width: 30px;
    background: url('../images/slider-control.png') center/contain no-repeat;
    border: 0;
    border-radius: 0;
}

/* min and max date box styles */
#min-date-container, #max-date-container {
    position: relative;
    background-color: #4421AE;
    border-radius: 50px;
    width: auto;    
    min-width: 150px;
}
#min-date-box, #max-date-box {
    position: relative;
    margin: 10px;
    background-color: #4421AE;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-radius: 100px;
    padding: 10px 20px;
    z-index: 2;
}

#min-date, #max-date {
    font-size: 40px;
    font-weight: bold;
}

#min-era, #max-era {
    font-size: 30px;
    padding-top: 8px;
    color: #CCD5FF;
}

    /* and the inputs */

#selection-box {
    position: absolute;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    border-radius: 100px;
    pointer-events: none;
}
#min-date-selection, #max-date-selection {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: auto;
    background-color: #4421AE;
    border-radius: 50px;
    height: 100px;
}
#min-date-selection input:focus, 
#max-date-selection input:focus,
#min-date-selection select:focus, 
#max-date-selection select:focus {
    outline: none;
    border: none;
}
#min-date-selection input, #max-date-selection input {
    font-size: 40px;
    min-width: 1ch;
    margin: 0;
    height: 60px;
    background-color: #4421AE;
    border: none;
    font-weight: 700;
    color: white;
    align-self: center;
    font-family: "Heebo", sans-serif;
    -moz-appearance: textfield;
}

#min-date-selection input::-webkit-outer-spin-button,
#min-date-selection input::-webkit-inner-spin-button,
#max-date-selection input::-webkit-outer-spin-button,
#max-date-selection input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#min-date-selection select, #max-date-selection select {
    font-size: 40px;
    margin: 0;
    height: 60px;
    background-color: #4421AE;
    border: none;
    font-weight: 700;
    color: white;
    align-self: center;
    font-family: "Heebo", sans-serif;
}

/* nav bar styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: fixed;
    z-index: 9999999;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 20px 0 10px;
    border: 1px solid #4421AE;
    padding: 10px;
    border-radius: 400px;
    height: 30px;
}

.nav-item h1 {
    font-size: 20px;
    color: #4421AE;
    padding: 0 5px;
}

.nav-item h3 {
    font-size: 15px;
    padding: 0 10px;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}

.greyed-out {
    color: rgb(158, 158, 158)
}
.nav-item img {
    width: 30px;
    height: 30px;
}

#scroll {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    height: 30px;
}

#scroll h3 {
    cursor: pointer;
    user-select: none;
}
    /* images */
#export img {
    padding: 0 10px;
    cursor: pointer;
}

#filter img {
    padding: 0 10px;
    cursor: pointer;
}

/* options */
#options-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
}
/* loading screen */
#loading-screen {
    background-color: white;
    justify-self: center;
    align-self: center;
    z-index: 20000001;
    border-radius: 10px;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#load-text {
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Heebo', sans-serif;
}
#spinner {
    width: 50px;
    height: 50px;
    border: 15px solid rgba(0, 0, 0, 0.2);
    border-top-color: #4421AE;
    border-radius: 50%;
    margin: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* layer selection */
#layer-selection {
    background-color: white;
    width: 80%;
    min-width: 500px;
    height: 80%;
    min-height: 500px;
    overflow-y: scroll;
    justify-self: center;
    align-self: center;
    z-index: 20000001;
    border-radius: 50px;
    scrollbar-width: none;
}
#top {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0 50px;
    color: #4421AE;
    align-items: center;
}
#top img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#filters {
    padding-left: 50px;
}
#layer-selection li {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

#layer-selection hr {
    border: 1px solid rgb(0 0 0 / 50%);
    margin: 0 50px;
}

/* Save As */
#save-img-select {
    background-color: white;
    width: 80%;
    max-width: 800px;
    min-width: 500px;
    overflow-y: scroll;
    justify-self: center;
    align-self: center;
    z-index: 20000001;
    border-radius: 50px;
    scrollbar-width: none;
}
#save-img-select li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
#save-img-select h3 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#save-img-select input, #save-img-select select {
    background-color: none;
    border-radius: 5px;
    font-family: "Heebo", sans-serif;
    border: none;
    padding: 0;
    font-size: 20px;
    height: 35px;
    color: black;
    text-align: right;
}

#save-img-select input:focus, #save-img-select select:focus {
    border: none;
}
#save-img-select hr {
    border: 1px solid rgb(0 0 0 / 50%);
    margin: 0 50px 10px 50px;
}
#save-img-select ol {
    margin: 0 50px 30px 50px;
    padding: 0;
}
#download-button {
    background-color: #4421AE;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 20px;
    margin-left: auto;
    margin-top: 20px;

}

/* misc */
.invisible {
    display: none !important;
}