/* main things */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Heebo", sans-serif;
}

/* map styles (not much) */
#map {
    width: 100%;
    height: 100%;
}

/* map controls */
.maplibregl-ctrl-top-right .maplibregl-ctrl {
    float: left;   
    margin: 80px 0 0 10px;
}
.maplibregl-ctrl-top-right {
    left: 0;
    top: 0;
}

/* slider styles */
#slider-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#current-date-display {
    position: absolute;
    justify-self: calc(100% + 10px);
    bottom: 100px;  
    left: 100px;
    background-color: #4421AE;
    padding: 15px 20px;
    border-radius: 100px;
    margin-bottom: 10px;
    white-space: nowrap;
}

#slider-box {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#slider {
    padding: 10px;
    min-width: 150px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    outline: none;
    background-color: white;
    background: white;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #4421AE;
    align-self: center;
    margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    background: linear-gradient(
        to right,
        #4421AE 0%,
        #4421AE var(--val),
        #CCD5FF var(--val),
        #CCD5FF 100%
    );
    border-radius: 20px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #4421AE;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 90px;
    width: 30px;
    background: url('../images/slider-control.png');
    border: 0;
    position: relative;
    margin-top: calc((20px - 90px) / 2);
}

input[type="range"]::-moz-range-thumb {
    height: 90px;
    width: 30px;
    background: url('../images/slider-control.png') center/contain no-repeat;
    border: 0;
    border-radius: 0;
}

/* min and max date box styles */
#min-date-container, #max-date-container {
    position: relative;
    background-color: #4421AE;
    border-radius: 50px;
    width: auto;    
    min-width: 150px;
}
#min-date-box, #max-date-box {
    position: relative;
    margin: 10px;
    background-color: #4421AE;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-radius: 100px;
    padding: 10px 20px;
    z-index: 2;
}

#min-date, #max-date {
    font-size: 40px;
    font-weight: bold;
}

#min-era, #max-era {
    font-size: 30px;
    padding-top: 8px;
    color: #CCD5FF;
}

    /* and the inputs */

#selection-box {
    position: absolute;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    border-radius: 100px;
    pointer-events: none;
}
#min-date-selection, #max-date-selection {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: auto;
    background-color: #4421AE;
    border-radius: 50px;
    height: 100px;
}
#min-date-selection input:focus, 
#max-date-selection input:focus,
#min-date-selection select:focus, 
#max-date-selection select:focus {
    outline: none;
    border: none;
}
#min-date-selection input, #max-date-selection input {
    font-size: 40px;
    min-width: 4ch;
    margin: 0;
    height: 60px;
    background-color: #4421AE;
    border: none;
    font-weight: 700;
    color: white;
    align-self: center;
    font-family: "Heebo", sans-serif;
    -moz-appearance: textfield;
}

#min-date-selection input::-webkit-outer-spin-button,
#min-date-selection input::-webkit-inner-spin-button,
#max-date-selection input::-webkit-outer-spin-button,
#max-date-selection input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#min-date-selection select, #max-date-selection select {
    font-size: 40px;
    margin: 0;
    height: 60px;
    background-color: #4421AE;
    border: none;
    font-weight: 700;
    color: white;
    align-self: center;
    font-family: "Heebo", sans-serif;
}

/* nav bar styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: fixed;
    z-index: 9999999;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 20px 0 10px;
    border: 1px solid #4421AE;
    padding: 10px;
    border-radius: 400px;
    height: 30px;
}

.nav-item h1 {
    font-size: 20px;
    color: #4421AE;
    padding: 0 5px;
}

.nav-item h3 {
    font-size: 15px;
    padding: 0 10px;
    white-space: nowrap;
    margin: 0;
}

.greyed-out {
    color: rgb(158, 158, 158)
}
.nav-item img {
    width: 30px;
    height: 30px;
}

#scroll {
    display: flex;
    align-items: center;
    width: 300px;
    overflow-x: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 30px;
}

#scroll h3 {
    cursor: pointer;
    user-select: none;
}
    /* images */
#export img {
    padding: 0 10px;
}

#filter img {
    padding: 0 10px;
}

/* misc */
.invisible {
    display: none !important;
}